.dark-theme {

   /*Tables Custom updated colors*/
   --androLight: #ffffff;
   --androGray: #999999;
   --androGrayStyleOne: #4d4d4d;
   --androDarkHover: #1e323c;
   --androThirdPartyBg: #ffffff;
   --androToggleSwitch: #82d250;
   --androToggleSwitchBg: #4d4d4d;

   /* Input custom Styles*/
   --androInputBg: #f2f2f2;
   --androInput: #000000;
   --androInputBorder: #cccccc;
   --androInputHover: #326482;
   --androInputPlaceholder: #141e28;

   /*Custom CHeckbox*/
   --androCheckboxActive: #39b54a;
   --androCheckboxBorder: #ffffff;
   --androCheckboxBg: #000000;

   /*Audit Report Styles */
   --androAuditReportBg:#111c27;
   --androAuditCompleted:#82D250;
   --androAuditVerifyed:#F47921;
   --androAuditApproved:#2C6707;
   --androAuditDApproved:#cc01ff;
   --androAuditControls: #4d4dff;


   --androLabel:#cdcdcd;
   --androValue:#ffffff;
   --border:#141e28;
   --box-shadow-1: 0px 0px 20px 0px rgb(20 30 40);

   /*Expansion Panel*/
   --androExpansionBgMain: #040f16;
   --androExpansionBgSecondary: #000000;

   /*Dialog BG*/
   --androDialogBg: #000000;
   --androDialogBgSearch: #141e28;

   /*Date picker disable color*/
   --androDatePicker: rgb(255 255 255 / 40%);

   /*SVG Image colors*/   
   --androIconDark: grayscale(100%);
   --androIconWhite: brightness(0) invert(1);

   /*Reports Overlay Panel colors*/
   --androOverlayPanel: #ffffff;

  /*Progress Bar Empty colors*/
   --androChartempty: #141E28;

   /*Custom old colors*/
   --lightBg: #0c1218;
   --lightBgone: #b3b3b3;
   --lightColor: #ffffff;
   /*--settingsBg: #0c1218;*/
   --lightsectionBg: #000000;
   --lightTableBg: #000000;
   --lightTableBorder: #326482;
   --lightTableHeaderColor: #b3b3b3;
   --lightTableEvenRecord: #050a0f;
   --lightBlack: #141e28;
   --lightGray: #b3b3b3;
   --defaultColor: #fafafa;
   --navbarBg: #e7e8e9;
   --navMenuHover: #2f2f2f;
   --dropdownarrow: #737373;
   --dropdownBg: #141e28;
   --deopdownBorder: #242a2f;
   --lightGrayStyletwo: #b3b3b3;
   --calenderBg: #d0d0d0;
   --calenderColor: #757575;
   --lightGrayStyleThree: #ded9d9;
   --calenderDaySelectedBg: #0c1217;
   --shortIcon: rgba(255, 255, 255, 0.4);
   --btnLightBg: #353e46;
   --sfilterBg: #080b0e;
   --ai3Query: #e6e6e6;
   --ai3QueryActive: #0d3343;
   --autoCompleteBg: #071820;
   --autoCompleteBg1: #808080;
   --tabPanelBorder: #242a2f;
   /*--backdropBg: rgb(0 0 0 / 84%);*/
   --backdropBg: rgb(44 44 44 / 84%);
   --tooltipHelptextBg: #eaeaea;
   --sidebarBorder: #07181e;
   --scrollpanelRightBorder: #242a2f;
   --tagSelector: #060606;
   --tagSelectorBorder: #070707;
   --eventLogEvenData: #151513;
   --eventLogOddData: #1a1c19;
   --ktableborder: #242a2f;
   --uiDropdownStateBorder: #242a2f;
   --lightDarkOne: #0c3444;
   --lightYellow: #ffff99;
   --secondExpansionBg: #0000006b;
   --lightMenu: #80808099; /* Menu Color */
   --bgOverlay: rgb(63 74 86 / 74%);
   --chartJsTooltip: rgb(255, 255, 255);
   /* --bgOverlay:rgba(38, 47, 57, 0.84);*/

   /* --lightBlackandWhite: #141e28;
    --lightGrayandWhite: #b3b3b3;*/

   /* ip-subnet-input */
   --dialogBg: #141e28;

   /* ip-subnet-input */
   --ipSubnetColor: #ffffff;
   --ipSubnetBg: #b3b3b3;
   --ipSubnetBorder: #b3b3b3;


   /* Updated color code received from PETE */
   --andromedaHoverState : #1F2C39;
   --andromedaPageBg: #000000;
   --andromedaTableBg: #76879A;
   --andromedaSort: #8595A5;
   --andromedaBlack : #141E28;
   --andromedaDarkState : #1F2C39;
   --andromedaGrayForm : #384552;
   --andromedaClickableBlack : #141E28;
   --andromedaState : #536980;
   --andromedaWhiteText : #FFFFFF;
   --andromedaBlackText : #000000;
   --andromedaTags : #304052;

   --andromedaDropdownPanel: #ffffff;
   --andromedaDropdownHover: #E1E9F2;
   --andromedaStatusBg:#1a2531;
   /* Updated color code received from PETE */

   /* Reversed Theme */
   --andromedaPageBgReversed: #ffffff;
   --andromedaGrayFormReversed : #EDEFF2;
   --andromedaWhiteTextReversed : #141E28;

   --andromedaHoverStateReversed : #E1E9F2;
   --andromedaTableBgReversed: #536980;
   --andromedaSortReversed: #FFFFFF;
   --andromedaBlackReversed : #F5F8FA;
   --andromedaDarkStateReversed : #E5EBEF;
   --andromedaClickableBlackReversed: #1F2C39;
   --andromedaStateReversed : #536980;
   --andromedaBlackTextReversed : #ffffff;
   --andromedaTagsReversed : #E0E3E8;
   --andromedaDropdownPanelReversed: #1F2C39;
   --andromedaDropdownHoverReversed: #536980;
}
