// CHeckbox Style
input[type="checkbox"] {
    width: 19px;
    height: 19px;
    position: relative;
}
//Firefox css
@-moz-document url-prefix() { 
    input[type="checkbox"] {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance:none;
    appearance: none;
    width:19px;
    height:19px;
    cursor: pointer;
    }
}
input[type="checkbox"]:after {
    line-height: 1.5em;
    content: "";
    width: 19px;
    height: 19px;
    display: inline-block;
    position: relative;
    border: 2px solid var(--androCheckboxBorder) !important;
    border-color: var(--androCheckboxBorder) !important;
    border-radius: 3px;
    background: var(--androCheckboxBg) !important;
}
@-moz-document url-prefix() {
    input[type="checkbox"]:after {
        border: 2px solid var(--androCheckboxBorder) !important;
        border-color: var(--androCheckboxBorder) !important;
        border-radius: 3px;
        background: var(--androCheckboxBg) !important;
    }
}
input[type="checkbox"]:checked:after {
    line-height: 1.5em;
    content: "";
    display: inline-block;
    position: relative;
    width: 19px;
    height: 19px;
    border: 2px solid var(--androCheckboxActive) !important;
    border-color: var(--androCheckboxActive) !important;
    border-radius: 3px;
    background: var(--androCheckboxBg) !important;
}

@-moz-document url-prefix() {
    input[type="checkbox"]:checked:after {
        border: 2px solid var(--androCheckboxActive) !important;
        border-color: var(--androCheckboxActive) !important;
        border-radius: 3px;
        background: var(--androCheckboxBg) !important;
    }
}

input[type="checkbox"]:checked:before {
    font-family: FontAwesome;
    content: "\f00c";
    position: absolute;
    z-index: 999;
    padding: 3px;
    font-weight: 400;
    margin-top: -3px;
    color: var(--androCheckboxActive) !important;
    font-size: 13px;
}
@-moz-document url-prefix() {
    input[type="checkbox"]:checked:before  {
        color: var(--androCheckboxActive) !important;
    }
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    font-size: 14px !important;
}

//signup checkbox design
body .ui-chkbox .ui-chkbox-box {
    border: 2px solid var(--androCheckboxBorder) !important;
    border-color: var(--androCheckboxBorder) !important;
    border-radius: 3px;
    background: var(--androCheckboxBg) !important;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
    background: var(--androCheckboxBg) !important;
    border: 2px solid var(--androCheckboxActive) !important;
    border-color: var(--androCheckboxActive) !important;
    color: var(--androCheckboxActive) !important;
}
body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    color: var(--androCheckboxActive) !important;
}
//Add New Policy checkbox style
.list_style.ui-listbox {
    .ui-widget-header {
        .ui-chkbox-box {
            border: 2px solid var(--androCheckboxBorder);
            border-color: var(--androCheckboxBorder) !important;
            background: var(--androCheckboxBg);

            &.ui-state-active {
                border: 2px solid var(--androCheckboxActive);
                border-color: var(--androCheckboxActive) !important;
                background-color: var(--androCheckboxBg);
                color: var(--androCheckboxActive);

                .ui-chkbox-icon {
                    color: var(--androCheckboxActive) !important;
                }
            }
        }
    }

    .ui-listbox-list {
        .ui-listbox-item {
            .ui-chkbox-box {
                border: 1px solid var(--androCheckboxBorder);
                border-color: var(--androCheckboxBorder) !important;
                background: var(--androCheckboxBg);

                &.ui-state-active {
                    border: 1px solid var(--androCheckboxActive);
                    border-color: var(--androCheckboxActive) !important;
                    background-color: var(--androCheckboxBg);
                    color: var(--androCheckboxActive);

                    .ui-chkbox-icon {
                        color: var(--androCheckboxActive) !important;
                    }
                }
            }
        }
    }
}

// Custom forms and dropdown colors
.input-style, .input-style3,
.ip-subnet-input,
.ip-subnet-input-1,
.ip-subnet-input1,
.basic-search-input,
.report-date-picker .ui-inputtext,
.subject-input,
.message-input {
    background: var(--androInputBg);
    color: var(--androInput);
    border: 1px solid var(--androInputBorder) !important;
    border-color: var(--androInputBorder) !important;
}

.input-style:focus, .input-style3:focus,
.ip-subnet-input:focus,
.ip-subnet-input-1:focus,
.ip-subnet-input1:focus,
.basic-search-input:focus,
.report-date-picker .ui-inputtext,
.subject-input,
.message-input {
    background: var(--androInputBg);
    color: var(--androInput);
    border: 1px solid var(--androInputBorder) !important;
    border-color: var(--androInputBorder) !important;
}

.input-style::placeholder, .input-style3::placeholder,
.ip-subnet-input::placeholder,
.ip-subnet-input1::placeholder,
.ip-subnet-input-1::placeholder,
.basic-search-input::placeholder,
.report-date-picker .ui-inputtext {
    color: var(--androInputPlaceholder) !important;
}

.ai3-brand-input,
.ai3-brand-input.ui-inputtext {
    background: var(--androInputBg);
    color: var(--androInput);
    border: 1px solid var(--androInputBorder) !important;
    border-color: var(--androInputBorder) !important;
}

.ai3-brand-input-ep,
.ai3-brand-input-ep.ui-inputtext {
    background: var(--androInputBg);
    color: var(--androInput);
    border: 1px solid var(--androInputBorder) !important;
    border-color: var(--androInputBorder) !important;
}

.textarea_style {
    background: var(--androInputBg);
    color: var(--androInput);
    border: 1px solid var(--androInputBorder) !important;
    border-color: var(--androInputBorder) !important;
}

.cmt-textarea {
    background: var(--androInputBg);
    color: var(--androInput);
    border: 1px solid var(--androInputBorder) !important;
    border-color: var(--androInputBorder) !important;
}

// .ip-subnet-input:focus {
//     background: var(--lightColor) !important;
//     color:var(--lightBlack) !important;
// }

// .ip-subnet-input::placeholder {
//     color:var(--inputPlaceholder);
// }

// Dropdown background and hover and disabled colors
.ai3-report-dropdown.ui-dropdown .ui-dropdown-panel .ui-dropdown-items-wrapper .ui-dropdown-item,
.tag-selector.ui-dropdown .ui-dropdown-panel .ui-dropdown-items-wrapper .ui-dropdown-item {
    background: var(--androInputBg);
    color: var(--androInput);
    border: 0px solid var(--androInputBg) !important;
}

body .ui-state-disabled,
body .ui-widget:disabled {
    opacity: 0.9 !important;
    cursor: not-allowed !important;
}

body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item:not(.ui-state-highlight):not(.ui-state-disabled):hover,
body
    .ui-dropdown-panel
    .ui-dropdown-items
    .ui-dropdown-item-group:not(.ui-state-highlight):not(.ui-state-disabled):hover {
    background-color: var(--androInputHover) !important;
    color: var(--androLight) !important;
    border: 0px solid var(--androInputHover) !important;
}

.form-control:disabled,
.form-control[readonly] {
    background: var(--androInputBg) !important;
    color: var(--androInput) !important;
}

.ai3-report-dropdown.ui-dropdown .ui-dropdown-label,
.tag-selector.ui-dropdown .ui-dropdown-label {
    background: var(--androInputBg) !important;
    color: var(--androInput) !important;
    border: 1px solid var(--androInputBorder) !important;
    border-color: var(--androInputBorder) !important;
}

body .ui-dropdown .ui-dropdown-trigger {
    background-color: transparent !important;
    color: var(--androInput) !important;
}

body .ui-inputtext {
    background: var(--androInputBg) !important;
    border: 1px solid var(--androInputBorder) !important;
    border-color: var(--androInputBorder) !important;
}

.ui-timepicker.ui-widget-header.ui-corner-all {
    background-color: var(--androInputBg);

    .pi {
        color: var(--defaultDark) !important;
    }
}
