@import "./typography";

:root {
   /* Updated color code received from PETE */
   --grpCyan: #46BEE2;
   --grpCyan1: #50BEE2;
   --grpBlue: #3C6EF0;
   --grpPurple: #8650FB;
   --grpRedPurple: #AA5082;
   --grpGreen: #6ABC7A;
   --grpGreen1: #2EA38D;
   --grpRed: #E33F3F;
   --grpOrange: #E3843F;
   --grpOrange1: #BCA62F;
   --grpNeutralGray: #999999;
   --andromedaBlueCTA : #298CC8;
   --andromedaLightState : #ACB6C1; 
   --andromedaSoftState : #76879A;
   --andromedaHover : #256a97;
   --andromedaDisabled : #999999;
    /* Updated color code received from PETE */

    /*Global Variables*/
    --blue: #298cc8;

    /*Threat Graphs Variables*/
    --pink: #b46e8c;
    --red: #d24646;
    --orange: #dc783c;
    --yellow: #f0b432;

    /*Category Graphs Variables*/
    --cyan: #46bee2;
    --blue: #3c6ef0;
    --purple: #8650ff;
    --maroon: #aa5082;

    /*Status Bars Variables*/
    --green: #82d250;
    --white: #ffffff;
    --teal: #0abeaa;
    --red: #dc5a50;
    --andromeda-bule:#298cc8;
    --andromeda-gray:#808080;

    //employeemanagement Colors
    // --greenOld: rgb(130, 210, 80);
    // --pinkOld :#b7708c;
    // --blueOld: rgb(70, 190, 226);
    // --maroonOld:#B34F56;

   /* Sidemenu Styles */
//    --sidebarBg: #141e28;
   --sidebarBg: #000000;
   --sidebarLabel: #a4a6b3;
   --sidebarActiveBg:#1f2832;
   --sidebarActive:#ff7f27;
   --sidebarActiveLabel:#ffffff;

  /* ThirdParty Color*/--andromedaBlueCTA : #298CC8;
   --androThirdParty:#141e28;
   --androToggleSwitchInactive:#4D4D4D;

    --selectorColor: #298cc8;
    --selectorColorOne: #298cc8;
    --selectorColortwo: #298cc8;
    --selectorLink: #298cc8;
    --selectorLinkHover: #298cc8;
    --error: #dc5a50;
    --btnFocusBg: #b3a2a7;
    --livemapWrapperBg: #ff5722;
    --webkitPlaceholder: #909;
    --navBrandHighlitBg: #e74e3e;
    --btnLightGreenBg: #82d250;
    --lightRed: #c56961;
    --lightRedOne: #c8645a;
    --chartValue: #dee2e6;
    --disText: #272323;
    --btnUpgradeBg: #a51207;
    --matitoryStart: #ff9036;
    --apprLinkGreen: #34a853;
    --grayBg: #272727;
    --lightWhite: #ffffff;
    --defaultDark: #000000;
    --borderColor: #333333;
    --lightGrayStyleone: #333333;
    --lightGrayStyleFour: #ddd;
    --tabHead: #7c7d82;
    --tagWrapper: rgba(128, 128, 128, 0.35);
    --tagBg: rgba(66, 66, 66, 0.54);
    --inputPlaceholder: rgb(70, 62, 62);
    --custPreLoad: #ccccccbd;
    --spinner: rgba(0, 0, 0, 0.7);
    --tooltipText: rgba(0, 0, 0, 0.8);
    --scrollPanelX: #111;
    --scrollpanelBg: #6c757d66;
    --scrollpanelBgHover: #383636;
    --scrollPanelWrapperBg: #1a1a1a;
    --scrollPanelWrapperBorder: #050505;
    --btnOutlineBg: #6c757d;
    --checkboxBg: #222222;
    --disabled: #4d4d4d;
    --lightGrayStyleFive: #909090;
    --lightGrayStyleSix: #c1c1c1;
    --deviceOnNetBg: #431f20;
    --anomalyhistorytableBg: #2e1a1a;
    --anomalyhistorytable: #381b1d;
    --ktablerowBg: #202e19;
    --uiDropdownBg: #2a2a2a;
    --uiDropdownStateBg: #eeeeee;
    --uiDropdownStateColor: #2e7db2;
    --uiDropdownStateColor1: #968d8d;
    --lightGrayStyleSeven: #303030;
    --lightGrayStyleEight: #73636e;
    --lightGrayStylenine: #635f5f;
    --lightGrayStyleTen: #252424;
    --lightGrayStyle11: #fbfbfb;
    --lightGrayStyle12: #c1b5b5;
    /*--chartJsTooltip: rgb(255, 255, 255);*/
    --textareaBg: #8080808c;
    --downBtnBg: rgba(128, 128, 128, 0.25);
    --commentBg: #29abe247;
    --readComment: #9999992e;
    --cardHeader: rgba(12, 52, 68, 0.5);
    --reportBg: #ffffff;



    --sidebar-box-shadow:0.2rem 0 1rem rgb(0 0 0 / 12%);
}

// .bg-dark {
//     background-color: var(--lightsectionBg) !important;
// }
.white-text,
.text-white {
    color: var(--lightColor) !important;
}
.text-gray {
    color: var(--lightGray) !important;
}
.text-blue {
    color: var(--selectorColor) !important;
}
.text-green, .text-success {
    color: var(--grpGreen) !important;
}
.text-pink {
    color: var(--pink) !important;
}
.text-maroon {
    color: var(--maroon) !important;
}
.text-danger {
    color: var(--grpRed) !important;
}
.text-has-error {
    color: var(--grpOrange) !important;
}
.text-dark, .text-black {
    color: var(--lightsectionBg) !important;
}
.white-text {
    color: var(--lightColor) !important;
}
.bg-gray {
    background-color: var(--lightGray) !important;
}
.bg-blue {
    background-color: var(--selectorColor) !important;
}
.bg-green {
    background-color: var(--green) !important;
}
.bg-pink {
    background-color: var(--pink) !important;
}
.bg-maroon {
    background-color: var(--maroon) !important;
}
.bg-danger {
    background-color: var(--error) !important;
}
.bg-dark {
    background-color: var(--lightsectionBg) !important;
}


