/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css";  */

@import "./sass/spacing";
@import "./sass/typography";
@import "./sass/variables";
@import "./sass/dark_theme";
@import "./sass/light_theme";
@import "./sass/andromeda_page";
@import "./sass/table";
@import "./sass/forms";
@import "./sass/dialog";
@import "./sass/date_picker";
@import "./sass/loader";
@import "./sass/common_table";

/*@font-face {
  font-family: "gilroy";
  src: url("assets/fonts/gilroy/Gilroy-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("assets/fonts/gilroy/Gilroy-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("assets/fonts/gilroy/Gilroy-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("assets/fonts/gilroy/Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}*/

label {
  margin-bottom: 0;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  * {
    font-family: "muli", sans-serif;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  button {
    appearance: none;
    background: transparent;
    /* Other styles */
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid var(--lightGray);
    border-color: var(--lightGray);
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .btn {
    transition: all 0.3s ease;
    opacity: 1;
  }

  .btn:hover,
  .btn:focus {
    color: var(--lightColor);
    background-color: var(--btnFocusBg);
    opacity: 0.3;
  }

  .navbar {
    display: none;
  }

  .badge {
    border: 1px solid var(--lightBlack);
    border-color: var(--lightBlack);
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td,
  .table th {
    background-color: var(--lightColor) !important;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid var(--lightGrayStyleFour) !important;
    border-color: var(--lightGrayStyleFour) !important;
  }
}

html {
  box-sizing: border-box;
  /* font-family: sans-serif; */
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// body,
// html {
//   height: 100%;
// }

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: none !important;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

// input,
// button,
// select,
// textarea {
//   // font-family: gilroy, Arial, sans-serif;
// }

body,
html {
  margin: 0;
  padding: 0;
  font-family: "muli", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size-14;
  line-height: 1.5;
  letter-spacing: 0;
  direction: ltr;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  color: var(--defaultColor);
  background-color: var(--lightBg) !important;
  text-align: left;
}

body.page-fixed-width {
  position: relative;
  /* min-width:  991px !important; commented for tab responsive */
  /* background:tomato; */
  overflow-x: auto;
  width: 100%;
  white-space: nowrap !important;
}

body a {
  color: var(--selectorLink);
  transition: all 0.3s ease;
  text-decoration: none;
}

body a:hover {
  color: var(--selectorLinkHover);
  opacity: 0.6 !important;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

@-ms-viewport {
  width: device-width;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

.livemap-wrapper {
  top: 0;
  background: var(--livemapWrapperBg);
  position: relative;
  /* // padding: 1rem !important; */
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: var(--webkitPlaceholder);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: var(--webkitPlaceholder);
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: var(--webkitPlaceholder);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--webkitPlaceholder);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--webkitPlaceholder);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: var(--webkitPlaceholder);
}

/* browser Starts */

::-webkit-scrollbar {
  width: 12px;
  /* for vertical scrollbars */
  height: 12px;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(119, 115, 115, 0.5);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

/* browser Ends */

.page {
  overflow: hidden;
}

/* Header Starts */
.navbar {
  margin-bottom: 0;
  /* text-transform: uppercase; */
  /* padding: 0.2rem 0.2rem;  */
  border-bottom: 0;
  letter-spacing: 1px;
  background: 0 0;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out,
    -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out,
    -webkit-transform 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out,
    transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

/* .navbar-brand {

} */

.navbar-brand span.highlighted_company {
  color: var(--navBrandHighlitBg);
}

.navbar-brand:focus {
  outline: 0;
}

ul.dashboard-components {
  list-style-type: none;
  display: inline-flex;
  /* padding: 0 0 0.3rem 0; */
  padding: 0 0 0 0;
  position: relative;
}

ul.dashboard-components li {
  margin-right: 1rem;
}

ul.dashboard-components li a {
  position: relative;
}

/* Header Ends */

.black-bg {
  background: var(--lightsectionBg) !important;
  background-color: var(--lightsectionBg) !important;
}

.gray-bg {
  background: var(--grayBg);
  background-color: var(--grayBg) !important;
}

/*####################################################
TILE COLOURs
#################################################### */
.color-bg-bot-threat {
  background: #dc4646 !important;
}

.color-bg-nothreat {
  background: #645096 !important;
}

.color-bg-threat {
  background: #dc6e1e !important;
}

/* border for theme */
.bdr-bg-bot-threat {
  border-color: #dc4646 !important;
}

.bdr-bg-nothreat {
  border-color: #645096 !important;
}

.bdr-bg-threat {
  border-color: #dc6e1e !important;
}

.bdr-ora-pVictim {
  border-color: #dc6e1e !important;
  border: 1px solid #dc6e1e !important;
}

.bdr-grn-pVictim {
  /* color: green !important; */
  border-color: #8bc34a !important;
  border: 1px solid #8bc34a !important;
}

.bdr-gray-offline {
  border-color: #989898 !important;
  border: 1px solid #989898 !important;
}

.bdr-grn-online {
  border-color: #8bc34a !important;
  /* border-color: #989898 !important; */
}

.txt-bg-bot-threat {
  color: #dc4646 !important;
}

.txt-bg-nothreat {
  color: #645096 !important;
}

.txt-bg-threat {
  color: #dc6e1e !important;
}

.txt-ora-pVictim {
  color: #dc6e1e !important;
}

.txt-grn-pVictim {
  /* color: green !important; */
  color: #8bc34a !important;
}

.txt-grn-online {
  color: #8bc34a !important;
  /* color: #989898 !important; */
}

.bg-bot-threat {
  background: #dc4646 !important;
  border-radius: 4px !important;
  margin: 3px 3px 8px 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 96px;
  cursor: pointer;
}

.bg-nothreat {
  background: #645096 !important;
  border-radius: 4px !important;
  margin: 3px 3px 8px 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 96px !important;
  cursor: pointer;
}

.bg-threat {
  background: #dc6e1e !important;
  border-radius: 4px !important;
  margin: 3px 3px 8px 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 96px;
  cursor: pointer;
}

.bg-offline {
  background: #4e4e4e !important;
  border-radius: 4px !important;
  margin: 3px 3px 8px 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 96px;
  cursor: pointer;
  color: #636363;
}

.spinner {
  display: inline-block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* width: 200px; */
  /* height: 100px; */
  margin: 0 auto;
  background: var(--spinner);
  text-align: center;
  padding: 18% 0 0 0;
  z-index: 4000;
}

span.nodata {
  text-align: center;
  position: relative;
  display: block;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #dc4646 !important;
}

#showAllDeviceTableView {
  position: relative;
  background: #8bc34a;
  min-width: 991px !important;
  width: auto;
}

@-moz-document url-prefix() {
  h1 {
    color: #dc5a50;
  }
}

/*
      Define here the CSS styles applied only to Safari browsers
      (any version and any device)
     */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* to only effect on safari, you can add this  */
  ::i-block-chrome,
  body {
    color: rose !important;
  }
}

@media screen and (min-color-index: 0) and (-webkit-min-device-pixel-ratio: 0) {
  // @media {
  //   body {
  //     color: blue !important;
  //   }

  //   /*
  //     Define here the CSS styles applied only to Safari browsers
  //     (any version and any device)
  //    */
  // }

  /* to only effect on safari, you can add this  */
  ::i-block-chrome,
  body {
    color: rose !important;
  }
}

body
  .ui-accordion
  .ui-accordion-header:not(.ui-state-disabled).ui-state-active
  a {
  background-color: none;
}

.ak-width {
  position: relative;
  /* min-width:  991px !important; commented for tab responsive */
  /* overflow-x: auto; */
  width: 100%;
  white-space: nowrap !important;
}

/* Dashboard tile overrides sakthi */
.ai3-card {
  background-color: var(--lightsectionBg) !important;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

.ai3-card h4,
.ai3-card h6 {
  font-weight: 600;
}

.ai3-card h6 {
  font-size: 18px;
}

.ai3-card h4 {
  font-size: 24px;
}

@media (min-width: 576px) {
  .dev-timeline-font,
  .bar-value {
    font-size: calc(0.75rem + ((1vw - 5.76px) * 1.0417));
  }

  .hex-responsive {
    /* width: calc(0.875rem + ((1vw - 5.76px) * 3.125)); */
    width: 15px;
    margin-right: 15px;
    margin-bottom: 18px;
  }

  .counttitle,
  .block-title {
    font-size: calc(0.5rem + ((1vw - 5.76px) * 0.9615));
  }

  .totalcount,
  .ano-count-red {
    /* font-size: calc(0.875rem + ((1vw - 5.76px) * 1.4423)); */
    font-size: 25px;
  }

  .block-counts {
    font-size: calc(0.875rem + ((1vw - 5.76px) * 1.4423));
  }
}

@media (min-width: 768px) {
  .dev-timeline-font,
  .bar-value {
    font-size: calc(0.75rem + ((1vw - 7.68px) * 0.8929));
  }

  .hex-responsive {
    /* width: calc(0.875rem + ((1vw - 7.68px) * 2.6786)); */
    width: 15px;
    margin-right: 15px;
    margin-bottom: 18px;
  }
}

@media (min-width: 992px) {
  .totalcount,
  .ano-count-red {
    font-size: calc(1.875rem + ((1vw - 9.92px) * 0.6466));
  }

  .dev-timeline-font,
  .bar-value,
  .counttitle {
    font-size: calc(0.625rem + ((1vw - 9.92px) * 0.431));
  }

  .hex-responsive {
    /* width: calc(0.875rem + ((1vw - 9.92px) * 0.6466)); */
    width: 15px;
    margin-right: 15px;
    margin-bottom: 18px;
  }
}

.hex-responsive-ch {
  width: 15px;
  margin-right: 15px;
  margin-bottom: 4px;
}

/* Theme.css font */
body .ui-widget {
  font-family: inherit !important;
}

/* Dashboard barchart tooltip themed like chartjs tooltip */
.ui-tooltip .ui-tooltip-text {
  background-color: var(--tooltipText) !important;
}

.ui-tooltip .ui-tooltip-arrow {
  border-top-color: var(--tooltipText) !important;
}

.toast-container .toast {
  width: 100% !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

.toast-container .toast .toast-title {
  font-size: 16px !important;
}

.toast-container .toast .toast-message {
  font-size: 16px !important;
  word-wrap: break-word;
  white-space: normal;
}

/* Line chart legend customization */
.line-chart-legend li {
  user-select: none;
  display: inline-table;
  cursor: pointer;
  margin-right: 2vw;
}

.line-chart-legend li span {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  display: inherit;
  border-radius: 2px;
}

.hidden span {
  background-color: inherit !important;
}

/* Device details edit */
.device-detail-autocomplete.ui-autocomplete .ui-autocomplete-input {
  width: 100%;
  border-radius: 4px;
  background-color: var(--autoCompleteBg);
  color: var(--lightColor);
}

.edit-dev-autocomplete.ui-autocomplete .ui-autocomplete-input {
  width: 100%;
  height: 36px;
  // border: 0px !important;
  border-radius: 4px;
  font-size: 16px;
  // color: var(--lightBlack);
  // background: var(--autoCompleteBg1);
}

.edit-dev-autocomplete.ui-autocomplete .ui-autocomplete-input:focus {
  width: 100%;
  height: 36px;
  // border: 0px;
  border-radius: 4px;
  // background: var(--lightColor);
  // color: var(--lightBlack) !important;
}

.edit-dev-autocomplete.ui-autocomplete
  .ui-autocomplete-panel
  .ui-autocomplete-items
  .ui-autocomplete-list-item {
  font-size: 16px;
  white-space: normal;
}

.edit-dev-autocomplete.ui-autocomplete .ui-autocomplete-panel {
  border: 0px;
}

.edit-dev-autocomplete.ui-autocomplete
  .ui-autocomplete-panel
  .ui-autocomplete-items
  .ui-autocomplete-list-item.ui-state-highlight,
.device-detail-autocomplete.ui-autocomplete
  .ui-autocomplete-panel
  .ui-autocomplete-items
  .ui-autocomplete-list-item.ui-state-highlight {
  background-color: var(--androInputHover) !important;
  color: var(--androLight) !important;
}

.device-detail-autocomplete.ui-autocomplete
  .ui-autocomplete-panel
  .ui-autocomplete-items
  .ui-autocomplete-list-item.ui-state-highlight {
  background-color: var(--lightGray) !important;
}

/* Dashboard table */
body .ui-table .ui-table-tbody > tr > td {
  border: 0px !important;
}

/* @media screen and (max-width: 80em) {
    .ui-table-responsive .ui-table-thead>tr>th,.ui-table-responsive .ui-table-tfoot>tr>td {
        display:none !important
    }

    .ui-table-responsive .ui-table-tbody>tr>td {
        text-align: left;
        display: block;
        border: 0 none;
        width: 100% !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        clear: left
    }

    .ui-table-responsive .ui-table-tbody>tr>td .ui-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block !important;
        margin: -.4em 1em -.4em -.4em;
    }
} */

/* Settings menu style */
.col-pixel-width-270 {
  flex: 0 0 270px;
  padding: 0px 15px;
}

.col-pixel-width-220 {
  flex: 0 0 220px;
  padding: 0px 15px;
}

/* Device communication tooltip */
#ai3-dc-tooltip {
  padding: 5px;
  position: fixed;
  border-radius: 4px;
  background-color: var(--tooltipText);
  color: var(--lightColor);
  z-index: 10000;
  display: none;
  text-align: center;
}

/* Dashboard horizontal scroll */
/* @media only screen and (max-width: 1400px) and (min-width: 991px) {
  .add-horizontal-scroll{
    min-width: 1400px;
  }
} */

.ng2-tooltip-dash {
  background: var(--lightColor) !important;
  color: var(--lightBlack) !important;
  font-family: "muli", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.ng2-tooltip-custom::after {
  border-color: transparent transparent transparent !important;
}

.ng2-tooltip-custom {
  background: var(--lightColor) !important;
  color: var(--lightBlack) !important;
  font-family: "muli", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.ng2-tooltip-custom::after {
  border-color: transparent transparent transparent !important;
}

.ng2-tooltip-chro {
  max-width: 440px !important;
  background: var(--lightColor) !important;
  color: var(--lightBlack) !important;
  font-family: "muli", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}

.ng2-tooltip-chro::after {
  border-color: transparent transparent transparent !important;
}

.ng2-tooltip-grey {
  max-width: 140px !important;
  background: var(--lightGray) !important;
  color: var(--lightColor) !important;
  font-family: "muli", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  width: 50% !important;
}

.ng2-tooltip-grey::after {
  border-color: transparent transparent transparent !important;
}

/* Device popup overrides */
.tabpanel_style ul.ui-tabview-nav {
  padding-bottom: 5px !important;
  border-bottom: 2px solid !important;
  border-color: var(--tabPanelBorder) !important;
}

#lineChartLegend .line-chart-legend {
  margin-bottom: 0px !important;
  padding-inline-start: 0px !important;
}

.word-wrap {
  position: relative;
  min-height: auto;
  color: var(--webkitPlaceholder) 090 !important;
  font-size: 0.9rem;
  text-align: left;
  vertical-align: middle;
  word-break: break-word;
  word-wrap: anywhere;
  white-space: normal;
  padding-right: 10px;
}

.border-gray {
  border: 1px solid;
  border-color: var(--lightGray) !important;
}

.ai3-report-dropdown .ui-dropdown {
  border: 0px !important;
}

.ai3-report-dropdown .ui-dropdown.ui-dropdown-label {
  background: var(--lightColor) !important;
}

.mat-autocomplete-panel.mat-autocomplete-visible {
  width: auto !important;
}

.cdk-overlay-pane {
  width: auto !important;
}

.mat-option.mat-active,
.mat-option:hover:not(.mat-option-disabled) {
  background-color: rgba(255, 140, 0, 0.61);
}

.mat-standard-chip {
  border-radius: 5px !important;
}

.country-code-input .input-group .flagInput .dropdown button {
  height: 34px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.country-code-input .input-group .flagInput .dropdown button:focus {
  box-shadow: none !important;
}

.country-code-input
  .input-group
  .flagInput
  .dropdown
  .dropdown-content
  .scrollable-menu {
  max-height: 130px !important;
  width: 360px !important;
  border-bottom-left-radius: 3px !important;
}

.country-code-input .input-group .flagInput .dropdown .dropdown-content {
  border-bottom-right-radius: 3px !important;
}

.country-code-input .input-group input {
  border: 0px !important;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  height: 34px;
}

.country-code-input .input-group input:focus {
  box-shadow: none !important;
}

/* Global brand styles */
.ai3-brand-input,
.ai3-brand-input.ui-inputtext {
  height: 36px;
  // background-color: var(--autoCompleteBg1);
  // color: var(--lightBlack);
  width: 100%;
  // border: 0px;
  padding: 5px 10px;
  border-radius: 4px !important;
  font-size: 16px;
}

.ai3-brand-input.ui-inputtext.ng-dirty.ng-invalid {
  border: 0px;
}

// .ai3-brand-input:focus {
//   background-color: var(--lightColor);
//   color: var(--lightBlack);
// }

// .ai3-brand-input::placeholder {
//   color: var(--lightBlack);
// }

// .ai3-brand-input:focus::placeholder {
//   color: var(--autoCompleteBg1);
// }

.ai3-brand-input-ep,
.ai3-brand-input-ep.ui-inputtext {
  height: 36px;
  // background-color: var(--lightColor);
  // color: var(--lightBlack);
  width: 100%;
  // border: 1px solid var(--lightBlack);
  padding: 5px 10px;
  border-radius: 4px !important;
  font-size: 16px;
  font-weight: 600;
}

.ai3-brand-input-ep.ui-inputtext.ng-dirty.ng-invalid {
  border: 1px solid var(--lightBlack);
  border-color: var(--lightBlack);
}

// .ai3-brand-input-ep::placeholder {
//   color: var(--lightBlack);
// }

// .ai3-brand-input-ep:focus::placeholder {
//   color: var(--autoCompleteBg1);
// }

.ai3-brand-error {
  width: 100%;
  white-space: normal;
  word-break: break-word;
  color: var(--error);
  font-size: 16px;
}
.ai3-brand-input-group {
  position: relative;
}

.ai3-brand-input-group i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--androInput);
  cursor: pointer;
}

.ai3-brand-input-group input {
  padding: 5px 30px 5px 10px !important;
}

.ai3-fsize-0 {
  font-size: 10px !important;
}

.ai3-fsize-1 {
  font-size: 16px !important;
}

.ai3-fsize-2 {
  font-size: 18px !important;
}

.ai3-button-primary.ui-button {
  font-size: 14px;
  text-transform: capitalize !important;
  color: var(--lightWhite);
  border-radius: 4px !important;
  height: 30px !important;
  background: var(--selectorColorOne) !important;
  border: 0px;
  font-weight: 600;
  margin-left: 10px;
  float: right;
  .pi {
    color: var(--lightWhite) !important;
  }
}

.ai3-button-link.ui-button {
  font-size: 16px;
  text-transform: capitalize !important;
  color: var(--selectorColorOne);
  border-radius: 4px !important;
  height: 36px !important;
  background: transparent !important;
  border: 0px;
  font-weight: 500;
  margin-left: 10px;
  float: right;
}

.ai3-button-link.ui-button .ui-button-text {
  padding: 0px !important;
}

.ai3-button-secondary.ui-button {
  font-size: 14px;
  text-transform: capitalize !important;
  color: var(--lightWhite);
  border-radius: 4px !important;
  height: 30px !important;
  background: var(--autoCompleteBg1) !important;
  border: 0px;
  margin-left: 10px;
  font-weight: 600;
  float: right;
}

.ai3-button-primary.ui-button:disabled {
  cursor: not-allowed;
}

.ai3-button-secondary.ui-button:disabled {
  cursor: not-allowed;
}

.ai3-popover-wrap {
  position: relative;
  margin-bottom: 25px;
}

.ai3-popover-wrap i {
  color: var(--lightColor);
  font-size: 30px;
  cursor: pointer;
}

.ai3-popover-wrap .ai3-popover-body {
  position: absolute;
  background: var(--lightColor);
  border-radius: 5px;
  right: 0px;
  top: 50px;
  width: 150px;
}

.ai3-popover-wrap .ai3-popover-body .ai3-popover-item {
  height: 36px;
  cursor: pointer;
  padding: 7px;
  font-weight: 600;
}

.ai3-word-wrap {
  white-space: normal;
  word-break: break-word;
}

.cursor-pointer {
  cursor: pointer !important;
}

.lazyStick {
  position: sticky !important;
  top: 0 !important;
  bottom: 0 !important;
}

.ch-dash-pick-custom [aria-label="Add a minute"] {
  display: none !important;
}

.ch-dash-pick-custom [aria-label="Minus a minute"] {
  display: none !important;
}

.ch-dash-pick-custom .owl-dt-timer:nth-child(2) input {
  pointer-events: none !important;
}

/* Owl DateTimepicker with Range selection Starts */
.date-input-style {
  border-radius: 4px !important;
  width: 350px !important;
  border: 0px !important;
  padding: 0.25em 0.429em;
  height: 36px;
  font-size: 16px;
  text-align: center;
}

.owl-dt-inline-container,
.owl-dt-popup-container {
  background-color: var(--dropdownBg);
}

.owl-dt-container {
  background-color: var(--dialogBg) !important;
}

.owl-dt-control-button {
  color: var(--lightColor) !important;
  font-weight: bold;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
  color: var(--lightGrayStyleThree) !important;
  font-size: 0.8em;
  font-weight: bold;
}

.owl-dt-calendar-table .owl-dt-calendar-cell {
  color: var(--lightGrayStyleThree) !important;
}

.owl-dt-container-info .owl-dt-container-info-active {
  color: var(--selectorColorOne) !important;
}

.owl-dt-container-info .owl-dt-container-range {
  color: var(--lightColor);
}

.owl-dt-calendar-table .owl-dt-calendar-cell-in-range {
  background: var(--calenderDaySelectedBg);
}

.owl-dt-calendar-table
  .owl-dt-calendar-cell-selected.owl-dt-calendar-cell-today {
  box-shadow: unset !important;
}

.owl-dt-calendar-table
  .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  background-color: var(--calenderBg) !important;
  border-radius: 4px;
  color: var(--calenderColor) !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  border-radius: 4px;
  background-color: var(--calenderBg) !important;
  color: var(--calenderColor) !important;
}

.owl-dt-timer {
  height: 6em !important;
  padding: unset !important;
}

.owl-dt-timer-divider {
  color: var(--lightColor);
}

.owl-dt-control-period-button .owl-dt-control-button-arrow svg {
  fill: var(--lightColor) !important;
}

.owl-dt-calendar-table .owl-dt-calendar-header {
  color: var(--lightColor) !important;
}

.owl-dt-container-info.owl-dt-container-row.ng-tns-c12-5.ng-star-inserted {
  background-color: var(--dropdownBg) !important;
}

.owl-dt-container-buttons.owl-dt-container-row.ng-tns-c12-5.ng-star-inserted {
  background-color: var(--dropdownBg) !important;
}

.owl-dt-calendar-table
  .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-from {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  background-color: unset !important;
}

.owl-dt-calendar-table
  .owl-dt-calendar-cell-in-range.owl-dt-calendar-cell-range-to {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  background-color: unset !important;
}

@media (orientation: landscape) {
  .owl-dt-dialog-container .owl-dt-timer {
    background-color: var(--dialogBg);
  }
}

@media (orientation: landscape) {
  .owl-dt-dialog-container .owl-dt-calendar {
    background-color: var(--dialogBg);
  }
}

.owl-dt-timer-hour12
  .owl-dt-timer-hour12-box
  .owl-dt-control-button-content:hover {
  background-color: var(--calenderDaySelectedBg);
  color: var(--lightColor);
}

.owl-dt-timer-hour12 .owl-dt-timer-hour12-box {
  width: 38px;
  height: 36px;
}

.owl-dt-calendar-table .owl-dt-calendar-header .owl-dt-weekdays th {
  padding-bottom: unset !important;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-content {
  width: 55% !important;
  height: 55% !important;
}

@media (orientation: landscape) {
  .owl-dt-dialog-container .owl-dt-calendar {
    width: 45vh;
    height: 45vh;
  }
}

@media (orientation: portrait) {
  .owl-dt-dialog-container .owl-dt-calendar {
    width: 50vw;
    height: 50vw;
  }
}

@media (orientation: landscape) {
  .owl-dt-dialog-container {
    width: 45vh;
    /* height: 83vh; */
  }
}

@media (orientation: portrait) {
  .owl-dt-dialog-container {
    width: 46vh;
    /* height: 83vh; */
  }
}

@media (orientation: landscape) {
  .owl-dt-dialog-container .owl-dt-timer {
    width: 45vh;
  }
}

@media (orientation: portrait) {
  .owl-dt-dialog-container .owl-dt-timer {
    width: 50vw;
  }
}

.owl-dt-timer-box {
  width: 20%;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-content {
  left: 22%;
  top: 20%;
}

.owl-dt-inline-container .owl-dt-calendar,
.owl-dt-popup-container .owl-dt-calendar {
  height: 20em;
}

/* Owl DateTimepicker with Range selection Ends */

.ng5-slider[disabled] .ng5-slider-pointer {
  background-color: var(--lightColor) !important;
}

.ng5-slider[disabled] .ng5-slider-selection {
  background: orange !important;
}

@media only screen and (min-width: 991px) {
  .p-xl-cust-5 {
    width: calc(100% / 5) !important;
  }
}

@media only screen and (min-width: 991px) {
  .p-xl-cust-4 {
    width: calc(100% / 4) !important;
  }
}

.ng2-tooltip-help {
  max-width: 600px !important;
  background: var(--tooltipHelptextBg) !important;
  color: var(--lightBlack) !important;
  font-family: "muli", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  max-height: 600px !important;
  text-align: left !important;
}

.ng2-tooltip-help::after {
  border-color: transparent transparent transparent !important;
}

.ai3-popover-wrap-evi {
  position: relative;
  white-space: normal;
  word-break: break-word;
}

.ai3-popover-wrap-evi i {
  color: var(--lightColor);
  font-size: 30px;
  cursor: pointer;
}

.ai3-popover-wrap-evi .ai3-popover-body-evi {
  position: absolute;
  background: var(--lightColor);
  border-radius: 5px;
  left: 100px;
  top: 5px;
  z-index: 1000;
}

.ai3-popover-wrap-evi .ai3-popover-body-evi .ai3-popover-item-evi {
  height: 36px;
  cursor: pointer;
  padding: 7px;
  font-weight: 600;
}

// // Form Dropdown arrow
// body .ui-dropdown .ui-dropdown-trigger {
//   background-color: var(--lightColor) !important;
//   color: var(--dropdownarrow) !important;
// }
body .ui-inputtext {
  color: var(--lightGrayStyleone) !important;
}
// body .ui-button:enabled:hover{
//   color:inherit !important;
// }

.ai3-popover-wrap-evi-list {
  position: relative;
  white-space: normal;
  word-break: break-word;
}

.ai3-popover-wrap-evi-list i {
  color: var(--lightColor);
  font-size: 30px;
  cursor: pointer;
}

.ai3-popover-wrap-evi-list .ai3-popover-body-evi-list {
  position: absolute;
  background: var(--lightColor);
  border-radius: 5px;
  right: 10px;
  top: 5px;
  z-index: 1000;
}

.ai3-popover-wrap-evi-list
  .ai3-popover-body-evi-list
  .ai3-popover-item-evi-list {
  height: 36px;
  cursor: pointer;
  // padding: 7px;
  margin: 2px 8px 0px 8px;
  font-weight: 600;
  width: 210px;
}

.filteredUserList.ui-autocomplete {
  float: left !important;
  display: block !important;
}
